.offers img{
    width: 100%;
   max-height: 250px; 
   height: auto; /* Maintain aspect ratio */
}


.offers{
    width: 65%;
    max-width: 1200px; /* Maximum width to prevent it from stretching too much on larger screens */
    height: 60vh;
    height: auto; /* Allow height to adjust based on content */
    display: flex;
    align-items: center; /* Center items */
    margin: auto;
    /* padding: 0px 140px; */
    padding: 20px; /* Add padding for better spacing */
    margin-bottom: 50px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}

.offers-left, .offers-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: #171717;
    /* font-size: 45px; */
    font-size: 5vw; /* Use viewport width units for responsive font size */
    font-weight: 600;
    margin: 0; /* Remove default margin */
}
.offers-left p {
    color: #171717;
    font-size: 4vw; /* Use viewport width units for responsive font size */
    font-weight: 400;
}
.offers-left button{
    width: 200px;
    height: 50px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offers-right{
    /* flex: 1;
    display: flex;
    align-items: center; */
    justify-content: flex-end;
    padding-top: 50px;
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
    .offers {
        flex-direction: row; /* Switch to row layout on larger screens */
        padding: 20px 50px; /* Adjust padding */
    }

    .offers-left h1, .offers-left p, .offers-left button {
        font-size: 2vw; /* Adjust font size for tablets and larger screens */
    }

    .offers-left button {
        font-size: 1.5vw;
    }
}

@media (min-width: 1024px) {
    .offers {
        padding: 20px 100px; /* Increase padding on larger screens */
    }

    .offers-left h1, .offers-left p, .offers-left button {
        font-size: 1.5vw; /* Adjust font size for laptops and larger screens */
    }

    .offers-left button {
        font-size: 1vw;
    }
}